@font-face {
  font-family: "iranYekan";
  src: url(/assets/fonts/IRANYekanWeb.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "iranYekan";
  src: url(/assets/fonts/IRANYekanWeb\ Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}
body,
button {
  font-family: "iranYekan";
}
